<div class="container-fluid">
  <div class="row">
<div class="list-group col-xs-12 col-sm-4 col-md-3 col-lg-2 mt-3">
  <a class="list-group-item list-group-item-action disabled">
    <h3 class="mr-2">Предметы</h3>
  </a>
  <a href="#" class="list-group-item list-group-item-action">Английский язык</a>
  <a href="#" class="list-group-item list-group-item-action">Биология</a>
  <a href="#" class="list-group-item list-group-item-action">Всемирная история</a>
  <a href="#" class="list-group-item list-group-item-action">География</a>
  <a href="#" class="list-group-item list-group-item-action">История Беларуси</a>
  <a href="#" class="list-group-item list-group-item-action">Русский язык</a>
  <a href="#" class="list-group-item list-group-item-action">Математика</a>
  <a href="#" class="list-group-item list-group-item-action">Обществоведение</a>
  <a href="#" class="list-group-item list-group-item-action">Физика</a>
</div>

<div class="jumbotron col-sm-8 col-md-9 col-lg-10 mt-3">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
</div>
</div>
